<h1>Welcome to Kidtionary!</h1>
<p>Kidtionary is a fun place to learn (and create!) words.</p>
<p>To get started, enter a word and defintion and click 'Add Word'</p>
<p>Your word will appear in the list below. Neat!</p>
<br><br>
<p>Click on a word to see its definition.</p>

<form action="/" method="post">
  Word:<br>
  <input type="text" name="word" value="">
  <br>
  Definition:<br>
  <input type="text" name="definition" value="">
  <br><br><br>
  <input class="btn-success" type="submit" value="Submit">
</form>


<div>
  <ul>

    <% @kidtionary.each do |word|   %>
    <li id="<%= word.word_id %>"> <a href="/delete/<%= word.word_id %>">[delete]</a><a href="/defintion/<%= word.word_id %>"> <%= word.word %> </a></li>
    <% end %>


  </ul>

</div>
